# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Build artifacts
*.egg-info/
*.lock
dist/
build/

# Class materials
requirements.pdf
notes.md

# Data directory
data/

# Jupyter
.ipynb_checkpoints
.profile_default/
.ipython/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
outputs/
logs/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# pyenv and Python-specific files
.python-version
pip-wheel-metadata/
*.manifest

# Testing
htmlcov/
.coverage
.cache
.nox/
tox/
.pytest_cache/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code & extensions
.vscode/
.claude/
